.Container {
  margin-top: 0px;
  position: relative;
  margin-left: 120px;
  position: absolute;
  height: 100%;
}

/* On screens that are less than 700px */
@media screen and (max-width: 700px) {
  .Container {
    margin-left: 20px;
  }
}
