.AllElements{
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}
.Container {
  margin-left: 150px;
}

/* On screens that are less than 700px */
@media screen and (max-width: 700px) {
  .Container {
    margin-left: 20px;
  }
}
