.NavBar {
  background-color: #242e42;
  position: fixed;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 18px;
  width: 150px;
  height: 100vh;
  align-items: center;
}

.NavBar #title {
  height: 100px;
  align-content: center;
}

.MenuItems .row {
  height: 55px;

}
.NavBar a {
  color: white;
}

.NavBar a:hover {
  color: coral;
}

/* On screens that are less than 700px */
@media screen and (max-width: 700px) {
  .NavBar {
    width: 50px;
    text-align: left;
  }
  .hide-sm {
    display: none;
  }
}
