.Session {
  position: absolute;
  margin-left: 20px;
  background-color: #f4f5f5;
  height: inherit;
}
.SessionMenu {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 100px;
}

.SessionMenu button {
  position: absolute;
  background-color: white;
  color: black;
  font-family: sans-serif;
  border: solid;
}

/* On screens that are less than 700px */
@media screen and (max-width: 700px) {
  .Session {
    margin-left: 30px;
  }
}
