.accountDetails{
    display: "inline";
    margin-left: 150px;
    width: 500px;
}

.editButton{
    position: relative;
    margin-left: 200px
}


/* On screens that are less than 700px */
@media screen and (max-width: 700px) {
    .accountDetails {
        margin-left: 20px;
        width: 150px;
        margin-left: 20px;
    }
    .editButton{
        
        margin-left: 30px
    }
  }